{:paths   ["src"]

 :deps    {org.clojure/clojure       {:mvn/version "1.10.1"}
           org.clojure/clojurescript {:mvn/version "1.10.520"}
           org.clojure/test.check    {:mvn/version "0.10.0"}}

 :aliases {:common    {}

           :repl      {:extra-deps  {nrepl            {:mvn/version "0.6.0"}
                                     cider/piggieback {:mvn/version "0.4.2"}}
                       :extra-paths ["dev/src" "example/src"]
                       :main-opts   ["--main" "nrepl.cmdline"
                                     "--port" "7888"
                                     "--middleware" "[cider.piggieback/wrap-cljs-repl]"]}

           :test-clj  {:extra-deps  {lambdaisland/kaocha           {:mvn/version "0.0-554"}
                                     lambdaisland/kaocha-cloverage {:mvn/version "0.0-32"}}
                       :extra-paths ["test"]}

           :test-cljs {:extra-deps  {olical/cljs-test-runner {:mvn/version "3.7.0"}}
                       :extra-paths ["test"]
                       :main-opts   ["--main" "cljs-test-runner.main"
                                     "--out" "target/test-cljs"]}

           :build     {:extra-deps {cambada {:mvn/version "1.0.7"}}
                       :main-opts  ["--main" "cambada.jar"
                                    "--app-group-id" "clj-fsm"
                                    "--app-artifact-id" "clj-fsm"
                                    "--aot" "none"]}

           :version   {:extra-deps {com.workframe/garamond {:mvn/version "0.4.0"}}
                       :main-opts  ["-m" "garamond.main"]}

           :deploy    {:extra-deps {deps-deploy {:mvn/version "0.0.9"}}
                       :main-opts  ["--main" "deps-deploy.deps-deploy"
                                    "deploy" "target/clj-fsm.jar"]}}}
